<br><br>
<body>
    <div class="block">
        <section class="ftco-section ftco-no-pt ftco-no-pb">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-5 p-md-5 img img-2 mt-5 mt-md-0" style="background-image: url(assets/nosotros.jpg);background-size: cover;">
                    </div>
                    <div class="col-md-7 wrap-about py-4 py-md-5 ftco-animate">
                        <div class="heading-section mb-5">
                            <div class="pl-md-5 ml-md-5 pt-md-5">
                                <span style="color: #003399">Sobre nosotros</span>
                                <h2 class="mb-2" style="font-size: 32px;">Bienvenido a Compara Ya,</h2>
                                <h2 class="mb-2" style="font-size: 32px;">Conoce un poco más de nosotros</h2>
                            </div>
                        </div>
                        <div class="pl-md-5 ml-md-5 mb-5">
                            <p style="text-align: justify;">Somos un emprendimiento que te permite comparar los precios de diferentes categorías de productos, además ofrecemos una gran cantidad de información sobre cada producto, incluyendo descripciones detalladas, calificaciones de los clientes y reseñas, para que los consumidores puedan tomar una decisión de compra informada.</p>
                            <br>
                            <div class="col-md-7 d-flex align-items-center">
                                <p class="mb-0"><a href="http://localhost:4200/producto" style="background-color:#808080" class="btn btn-secondary px-20 py-8">Encuentra tu producto <i class="fa-solid fa-arrow-right"></i></a></p>
                       </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
    
 
     <br><!-- comment -->
     <br><!-- comment -->
     
     <!-- Mision -->
     
     <!-- Valores -->
     <div class="block" style="background-color:rgb(230, 230, 230);">
        <section class="ftco-section ftco-no-pt ftco-no-pb">
            <div class="container">
    
                <div class="row no-gutters">
                    <div class="col-md-7 wrap-about py-4 py-md-5 ftco-animate">
                        <div class="heading-section mb-5">
                            <div class="pl-md-5 ml-md-5 pt-md-5">
                               <h2 class="mb-2" style="font-size: 32px;text-align: center;">Misión</h2>
                       </div>
                        </div>
                        <div class="pl-md-5 ml-md-5 mb-5">
                            <p style="text-align: justify;margin-right: 70px;">"Nuestra misión es proporcionar a nuestros usuarios una herramienta confiable y fácil de usar que les permita comparar precios de productos en diferentes tiendas en línea. Creemos en la transparencia y en ayudar a los consumidores a tomar decisiones informadas de compra."</p>
                        
                        </div>
                        
                    </div>
                    <div class="col-md-5 p-md-5 img img-2 mt-5 mt-md-0" style="background-image: url(assets/mision1.jpg); background-size: cover;">
                    </div>
                   
                </div>
            </div>
        </section>
     </div>
     
     
     <section class="ftco-section ftco-services">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-2">
                <div class="col-md-8 text-center heading-section ftco-animate">
                    <br><br><br><br>
                    <h2 class="mb-4">Valores</h2>
                    <p>Contamos con algunos valores que ayudan a nuestro equipo a establecer una base ética sólida para sus acciones y decisiones.</p>
                </div>
            </div>
        </div>
    </section>

      <section class="ftco-section ftco-services" style="margin-right: 150px; margin-left: 150px">
        
            <div class="row">
                <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
                    <div class="media block-6 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img class="circular-square" src="assets/innova.png" width="160px" height="150px">
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Innovación</h3>
                            <p>En "Compara Ya", nos apasiona la innovación y buscamos constantemente nuevas formas de mejorar tus experiencias de comparación de precios.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
                    <div class="media block-6 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img class="circular-square" src="assets/historial.png" width="160px" height="150px">
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Honestidad</h3>
                            <p>La honestidad es nuestro principio fundamental. Te proporcionamos información transparente y precisa para que tomes decisiones informadas.</p>
                        </div>
                    </div>      
                </div>
                <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
                    <div class="media block-6 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img class="circular-square" src="assets/transpa.jpg" width="160px" height="150px">
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Imparcialidad</h3>
                            <p>En "Compara Ya", somos imparciales y no tenemos preferencias hacia marcas o productos específicos. Nuestras comparativas son objetivas.</p>
                        </div>
                    </div>      
                </div>

                <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
                    <div class="media block-6 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img class="circular-square" src="assets/acceso.jpg" width="160px" height="150px">                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Excelencia en el servicio al cliente</h3>
                            <p>Nos esforzamos por brindarte un servicio excepcional y una experiencia satisfactoria en cada interacción con nosotros. Tu satisfacción es nuestra prioridad..</p>
                        </div>
                    </div>
                </div>
                
            </div>
        
    </section>

<br><br><br>
<div class="block"  style="background-color:rgb(230, 230, 230);">
    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-5 p-md-5 img img-2 mt-5 mt-md-0" style="background-image: url(assets/ventaja.png); background-size: cover;">
                </div>
                <div class="col-md-7 wrap-about py-4 py-md-5 ftco-animate">
                    <div class="heading-section mb-5">
                        <div class="pl-md-5 ml-md-5 pt-md-5">
                           <h2 class="mb-2" style="font-size: 32px; text-align: center;">Ventaja competitiva</h2>
                   </div>
                    </div>
                    <div class="pl-md-5 ml-md-5 mb-5">
                        <p style="text-align: justify;">"En nuestro aplicación web, ofrecemos una amplia selección de productos de diferentes categorías, lo que permite a nuestros usuarios encontrar fácilmente lo que están buscando. Además, nuestra comparación de precios es en tiempo real, lo que significa que nuestros usuarios siempre tienen acceso a los precios más recientes. También nos enfocamos en la experiencia del usuario, ofreciendo una interfaz de usuario fácil de usar y un servicio al cliente excepcional."</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</div>
     
     <br>
     <br>
     <br><br>
     <section class="ftco-section ftco-services">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-2">
                <div class="col-md-8 text-center heading-section ftco-animate">
                    <span style="color: #003399">Lo que te ofrecemos</span>
                    <h2 class="mb-4">Nuestros beneficios para tu compra</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
                    <div class="media block-6 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img class="circular-square" src="assets/compare.jpg" width="160px" height="150px">
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Compara precios</h3>
                            <p>Encuentra el precio más bajo posible y compáralo con los precios de tus tiendas favoritas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
                    <div class="media block-6 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img class="circular-square" src="assets/historial.png" width="160px" height="150px">
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Historial de precios</h3>
                            <p>Encuentra el momento más adecuado para realizar tu compra.</p>
                        </div>
                    </div>      
                </div>
                <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
                    <div class="media block-6 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img class="circular-square" src="assets/transpa.jpg" width="160px" height="150px">
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Mayor transparencia</h3>
                            <p>Comprende mejor el mercado al observar la amplia variedad de precios y opciones disponibles para un determinado producto.</p>
                        </div>
                    </div>      
                </div>

                <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
                    <div class="media block-6 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img class="circular-square" src="assets/acceso.jpg" width="160px" height="150px">                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Acceso a promociones y ofertas especiales</h3>
                            <p>Detecta las ofertas y promociones especiales de las tiendas en línea.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
     

     
               

    <!-- CUERPO FIN -->
    
    <!--------------------------------------------------------------------->
    
    <!-- FOOTER -->
    <div class="container">
<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
<div class="col mb-3">
  <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
  </a>
  <p class="text-muted">&copy; 2023 Compara Ya</p>
</div>

<div class="col mb-3">

</div>

<div class="col mb-3">
  <h5>Categorías</h5>
  <ul class="nav flex-column">
    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Celulares</a></li>
    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Laptops</a></li>
    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Televisores</a></li>
    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Refrigeradoras</a></li>
    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Cocina</a></li>
  </ul>
</div>

<div class="col mb-3">
  <h5>Tiendas</h5>
  <ul class="nav flex-column">
    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Plaza Vea</a></li>
    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ripley</a></li>
    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Oeschele</a></li>
    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sodimac</a></li>
    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Saga Falabella</a></li>
  </ul>
</div>

<div class="col mb-3">
  <h5>Información</h5>
  <ul class="nav flex-column">
    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Nosotros</a></li>
    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Proveedores</a></li>
    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ica, Perú</a></li>
    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">comparaya@gmail.pe</a></li>
  </ul>
</div>
</footer>
</div>

</body>