

  <div class="slide s1">
  <br><br><br><br><br><br>
    <p style="size: 300px;">Encuentra el celular que quieres al mejor precio</p>
<div class="col-md-7 d-flex align-items-center" style="margin-left: 600px; font-size: 60px;">
  <p class="mb-0"><a href="http://localhost:4200/producto" style="background-color:#808080" class="btn btn-secondary px-20 py-8">Encuentra tu producto <i class="fa-solid fa-arrow-right"></i></a></p>
</div>
  </div>

<div class="slide s2">
  <p>No pierdas la oportunidad de obtener una laptop de calidad a precios increíbles. ¡Compara ya!</p>
  <button class="boton">Encuentra las laptops</button>
</div>





<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      </a>
      <p class="text-muted">&copy; 2023 Compara Ya</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5>Categorías</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Celulares</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Laptops</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Televisores</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Refrigeradoras</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Cocina</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Tiendas</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Plaza Vea</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ripley</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Oeschele</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sodimac</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Saga Falabella</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Información</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Nosotros</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Proveedores</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ica, Perú</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">comparaya@gmail.pe</a></li>
      </ul>
    </div>
  </footer>
</div>