<h1>Comparador</h1>
<label for="searchInput">Buscar por: </label>
<p-autoComplete id="searchInput" [(ngModel)]="searchNombre" [suggestions]="filteredProducts" (completeMethod)="searchProductById()"
  field="prod_nombre" [minLength]="3"></p-autoComplete>
<p-table [value]="productos" [rows]="10" [paginator]="true" [columns]="cols">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">{{ col.header }}</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-producto>
    <tr>
      <td>
        <!-- Columna de nombre -->
        {{ producto.prod_nombre }}
      </td>
      <td>
        <!-- Columna de marca -->
        {{ producto.marca_nombre }}
      </td>
      <td>
        <!-- Columna de categoría -->
        {{ producto.categoria?.cat_nombre }}
      </td>
      <td>
        <!-- Columna de proveedor -->
        <img
          [src]="producto.proveedor?.prov_foto"
          alt="Foto del proveedor"
          width="100"
        />
      </td>
      <td>
        <!-- Columna de precio -->
        {{ producto.precio | currency : "S/." }}
      </td>
      <td>
        <!-- Columna de foto -->
        <img [src]="producto.prod_foto" alt="Foto del producto" width="130" />
      </td>
      <td>
        <!-- Columna de URL -->
        <a [href]="producto.prod_url" target="_blank">
          <button
            pButton
            pRipple
            label="Ver Oferta"
            class="p-button-oferta"
          ></button>
        </a>
      </td>
      <td>
      
      </td>
    </tr>
  </ng-template>
</p-table>
